{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <h1>{{heading}}</h1>
    <ul id="note-list">
        {% for note in notes %}
        <li><strong>{{note.title}}</strong>: {{note.content}}</li>
        {% endfor %}
    </ul>
    <h2>Tambah Catatan</h2>
    <form id="note-form">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Tambah</button>
    </form>
    <script src="{% static 'notes/js/note.js' %}"></script>
    {% include "snippets/script.html" %}
</body>
</html>