{% extends "blueprint/base.html" %}
{% block jumbotron %}
<div class="bg-light bg-gradient text-dark p-5 rounded-lg m-4 shadow">
    <h1 class="display-4">{{heading}}</h1>
    <p class="lead">{{subheading}}</p>
    <hr class="my-4">
    <p>di sini semua project buatanku berkumpul, jangan lupa mampir dan melihat lihat website ini. yok tarek!!</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>          
{% endblock jumbotron %}

{% block content-1 %}
<div class="row" style="height: 300px;">
    <h1>content 1</h1>
</div>
{% endblock content-1 %}