{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    {% include "snippets/style.html" %}
</head>
<body>
      {% include "snippets/navbar.html" %}
      <div class="jumbotron py-5">
        {% block jumbotron %}
        
        {% endblock jumbotron %}
      </div>
      <div class="container-fluid">
        <div class="container border p-5 rounded-3 m-4 bg-dark text-light shadow" id="myBodyContent">
            {% block content-1 %}
            
            {% endblock content-1 %}
        </div>
        {% include "snippets/script.html" %}
</body>
</html>