{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    {% block app-css %}
    
    {% endblock app-css %}
    {% include "snippets/style.html" %}
</head>
<body>
    {% include "kalkulator/snippets/navbar.html" %}
    <div class="content d-flex justify-content-center align-items-center p-5 m-4">
        <div class="h-auto shadow" id="history">
            {% block history-db %}
            
            {% endblock history-db %}
        </div>
        {% block content %}
        
        {% endblock content %}
    <div class="num-buttons">
        <button type="button" onclick="addtodisplay('7')">7</button>
        <button type="button" onclick="addtodisplay('8')">8</button>
        <button type="button" onclick="addtodisplay('9')">9</button>
        <button type="button" onclick="addtodisplay('/')">:</button>
        <!-- kedua -->
        <button type="button" onclick="addtodisplay('4')">4</button>
        <button type="button" onclick="addtodisplay('5')">5</button>
        <button type="button" onclick="addtodisplay('6')">6</button>
        <button type="button" onclick="addtodisplay('*')">x</button>
        <!-- ketiga -->
        <button type="button" onclick="addtodisplay('1')">1</button>
        <button type="button" onclick="addtodisplay('2')">2</button>
        <button type="button" onclick="addtodisplay('3')">3</button>
        <button type="button" onclick="addtodisplay('-')">-</button>
        <!-- kepapat -->
        <button type="button" onclick="addtodisplay('0')">0</button>
        <button type="button" onclick="addtodisplay('.')">.</button>
        <button type="submit">=</button>
        <button type="button" onclick="addtodisplay('+')">+</button>
    </div>
    <button class="submit my-2 w-100" type="button" onclick="cleardisplay()">C</button>
</form>

    </div>
    </div>
    {% block app-js %}

    {% endblock app-js %}
    {% include "snippets/script.html" %}
</body>
</html>